* {
    padding: 0;
    margin: 0;
}

.full-ContFl {
/*    display: flex;
    flex-direction: column;*/
    height: 100vh;
    background: radial-gradient(ellipse at top, var(--c1), var(--c2), var(--c5), transparent),
    radial-gradient(ellipse at top, var(--c3), var(--c4), var(--c6), transparent);
    background-size: 500% 500%;
    -webkit-animation: liquidBG 14s ease-in-out infinite; /*color change, animation lasts 12s and repeats*/
}

@-webkit-keyframes liquidBG {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 50% 0;
    }
}

:root {
    --c1: rgba(238, 209, 128, 0.6);
    --c2: rgba(215, 82, 129, 0.6);
    --c3: rgba(255, 143, 177, 0.6);
    --c4: rgba(122, 68, 149, 0.6); /*f.e. using "var(--c1)" will access the variables*/
    --c5: rgba(239, 233, 233, 0.4);
    --c6: rgba(127, 209, 223, 0.6);
}

.waitingListNav {
    width: 85vw;
    margin: 0 auto;
}

.divider {
    width: 85vw;
    border-width: 4px;
    border-radius: 8px;
    margin: auto;
    color: rgba(127, 209, 223, 0.8);
}

.navContainer, .footer {
/*    background: radial-gradient(ellipse at right, var(--c1), var(--c2), var(--c5), transparent),
    radial-gradient(ellipse at top, var(--c3), var(--c4), var(--c6), transparent);
    background-size: 250% 250%;*/
    background: rgba(117, 117, 117, 0.5);
}

.navbar-brand {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    margin: 2vh auto;
    border-radius: 30px;
    /*border-style: solid;*/
    /*border-width: 0 3px 5px 3px;*/
    /*background: rgba(215, 82, 129, 0.4);*/
    background: linear-gradient(to top, rgba(127, 209, 223, 0.3) 30%, rgba(215, 82, 129, 0))
}

.text-WL {
    color: rgba(0, 0, 0, 0.60);
    padding: 2vh;
}

.navbar-2 {
    display: flex;
    flex-direction: row;
    padding: 0 15% 0 15%;
    justify-content: center;
}

.roundedImage {
    border-radius: 1.8rem;
    box-shadow: 0 1.3rem 3rem rgba(0, 0, 0, 0.62);
    transition: text-shadow 5s;
}

.lead {
    text-shadow: 0 0.3rem 1.2rem rgb(245, 238, 238, 0.91);
    transition: box-shadow 5s;
}

.votingSystemSection {
    text-align: center;
}

.addV, .subV {
    background-color: rgba(127, 209, 223, 0.6);
    color: rgba(0, 0, 0, 0.60);
    border-color: rgba(0, 0, 0, 0.60);
    margin-left: 2vw;
}

.btn-creatWL, .message-btn {
    background-color: rgba(0, 0, 0, 0.60);
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}

.footer {
    /*footer overlaps with content in mobile size..fix needed*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
}

.footer, .contactDev {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.message-btn {
    width: 22rem;
    /*height: 2.1rem;*/
    margin: 0 0.5rem;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright {
    font-size: 1.5rem;
    margin: 0.5rem;
}

/*.votingSystemSection, .mainSection {
    background-color: rgba(240, 248, 255, 0.22);
    backdrop-filter: blur(500px);
}*/
